<html>
    <head>
        <title>Diskvem</title>
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
        
            {% block body %}
            
            {% endblock %}       
        
            <hr />
            
            <footer>
                <p>&copy; Diskvem 2012</p>
            </footer>
        
        </div>
        
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js"></script>
        
    </body>
</html>